@media (max-width: 64em) {

    .about-content {
        grid-column: 3/11;    
    }

    .hero-section > img {
        width: 21rem;
        height: auto;
        padding-bottom: 2rem;
    }

    .map-section {
        grid-column: 1/5;
    }
    
    .contact-container {
        grid-column: 5/13;        
    }
}