@media (max-width: 40em) {

    .desktop-nav {
        display: none;
    }

    .hamburger-menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        grid-column: 11/12;

        font-size: 2rem;
    }

    .about-content {
        grid-column: 2/12;    
    }

    .product-section {
        height: 50rem;
    }
    
    .product-one {
        grid-column: 1/13;
    }

    .product-two {
        grid-row: ;
        grid-column: 1/13;
    }

    .footer {
        height: 50rem;
    }

    
    .map-section {
        height: 25rem;
        grid-row: 2;
        grid-column: 1/13;
    }
    
    .contact-container {
        height: 25rem;
        grid-row: 1;
        grid-column: 1/13;        
    }
}